.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #cc00ff;
    color: white;
}

.topnav a.null {
    background-color: #cc00ff;
    background-color: #333;
}

p#unord {
    padding: 5px;
    border: 5px solid blue;
    width: 200px;
    height: fit-content;
    background-color: skyblue;
}

p#ord {
    padding: 5px;
    border: 5px solid green;
    width: 200px;
    height: fit-content;
    background-color: rgb(130, 255, 130);
}

ul#lOfun{
    list-style-type: circle;
}

ul#lOfor{
    list-style-type: lower-roman;
}